html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

p {
    font-size: 2rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

/** CODIGO AQUI **/

@media (min-width: 480px) {
    .column-drop-flex{
        display: flex;
        justify-content: space-between;
        /* Si lo mirase sin el wrap vería como los coloca de izquierda a derecha por lo que priemro les da el 50% y luego coloca 
        el tercer párrafo, eso porque por defecto viene con no-wrap */
        flex-wrap: wrap;
    }

    .contenido-principal, .primera{
        /* Le digo que el contenido principal y la barra primera tomen el 50% de la pantalla menos 1 rem como si fuese gap */
        flex-basis: calc(50% - 1rem);
    }

}

@media (min-width: 768px) {
    .contenido-principal, .primera, .segunda{
        flex: 0 0 calc(33.3%);
    }
}